rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cloud_tracks/{trackId} {
      allow read, write: if true;
    }
    match /cloud_playlists/{playlistId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
